<div style="margin:0;padding:0;font-family:sans;">
    <table style="margin:0;padding:0;font-family:sans;">
        <tr>
            <td style="width:80%">
                <img src="{{header.logo}}" style="width:3.8cm;height:1cm;" id="form_logo">
            </td>
            <td>
                <hr style="width:8.3093cm;margin:0;padding:0;height:0cm;margin-bottom:1.5pt;">
                <table style="width:5.081cm;margin:0;padding:0;color:#fff;font-size:6.5pt;border-spacing:0;">
                    <tr style="background-color:#002A5B;padding:0;margin:0;">
                        <td style="text-align:right;padding:0;margin:0;padding-right:1pt;font-size:5pt;" id="form_code_text">
                        {{header.form_code.label}}
                        </td>
                        <td style="text-align:center;padding:0;margin:0;padding-left:1pt;padding-right:1pt;width:0.15cm;">

                        </td>
                        <td style="font-size:9pt;padding:0;margin:0;padding-left:5pt;width:2.081cm;" id="form_code_value">
                        {{header.form_code.data}}
                        </td>
                    </tr>
                </table>
                <table style="width:5.081cm;margin:0;padding:0;color:#fff;font-size:6.5pt;margin-top:2pt;border-spacing:0;">
                    <tr>
                        <td style="text-align:right;color:#000;padding:0;margin:0;font-size:5pt;" id="form_date_text">
                        {{header.form_date.label}}
                        </td>
                        <td style="text-align:center;color:#000;padding:0;margin:0;width:0.2cm;">
                            :
                        </td>
                        <td style="color:#000;padding:0;margin:0;padding-left:2pt;background-color:#E0E0DF;width:2.081cm;" id="form_date_value">
                        {{header.form_date.data}}
                        </td>
                    </tr>
                </table>
                <hr style="width:8.3093cm;margin:0;padding:0;height:0cm;margin-top:1.5pt;">
            </td>
        </tr>
    </table>
</div>
<div style="margin:0;padding:0;background: url('static/img/header_bar.png');">
    <h1 style="margin:0;padding:0;margin-top:1.5pt;margin-bottom:1.5pt;font-size:8pt;color:#fff;text-align:center;font-family:sans-serif;" id="form_title">{{header.form_title.data}}</h1>
</div>
