/*
variables
color = #030606
title_bg = #BCBDC0
box_bg = #C8E8F9
row_bg = #E8E8E9
*/

/* global */
* {
    margin:0;
    padding:0;
}
html, body {
    font-family: serif;
    font-size: 5pt;
    color: #030606;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    color: #030606;
}
h2 {
    font-family: serif;
    font-size: 8pt;
}
table {
    width:100%;
    font-family: serif;
    font-size: 7pt;
}
/* helper */
.zero {
    margin:0;
    padding:0;
}
.colon {
    text-align: center;
    width: 2pt;
    padding-right: 4pt;
}
div {
    margin: 0;
    padding: 0;
}
/* endhelper*/
/* class */
.column {
    font-family: serif;
    font-size: 5pt;
    border: 0.8pt solid #333;
    border-radius: 5px;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 3pt;
}
.column div p {
    margin:0;
    padding:3pt;
}
.column .column_title {
    background-color: #BCBDC0;
    border-radius: 5px 5px 0px 0px;
    text-align: center;
    padding: 0.1em;
}
.column .column_title h2#title {
    font-family: serif;
    font-size: 8pt;
    padding: 0;
    margin: 0;
}
.column div:first-child {
    border-radius: 5px 5px 0px 0px;
}
.column div:last-child {
    border-radius: 0px 0px 5px 5px;
}
.column div.color_1 {
    background-color: #E8E8E9;
}
td#text {
    padding-left: 4pt;
}
div.row, div#row, div.row table, div#row table {
    margin:0;
    padding:0;
}
/* endclass */
