<div class="zero" id="row">
    <table>
        <tr class="zeromargin">
            <td style="{{label_width}}" id="label">{{label}}</td>
            <td class="colon" id="colon">{% if not hidecolon %}:{% endif %}</td>
            <td class="zero" id="data">{{data}}</td>
        </tr>
    </table>
</div>
