<div id="row" class="zero">
    <table class="zero">
        <tr class="zero">
            <td style="{{label_width}}" id="label">{{label}}</td>
            <td class="colon" id="colon">{% if not hidecolon %}:{% endif %}</td>
            <td class="zero" id="data">
                <table>
                    <tr id="list_data">
                        {% for item in data %}
                        <td id="list">
                            <input type="checkbox" name="" value="" id="value" {% if item.value == 1 %}checked="checked"{% endif %}>
                             {{item.option}}
                        </td>
                        {% endfor %}
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
