<div class="column">
    <div class="column_title"><h2 id="title">{{title}}</h2></div>
    <div id="list_row">
        {% for rows in list_rows %}
        <div id="row" class="{{rows.color}}">
            <table>
                <tr id="row_layout">
                    {% for field in rows.field %}
                    <td id="row_content"{% if rows.field|length > 1 %} style="width:{{ 100 / rows.field|length }}%;" {% endif %}>
                        {% include 'rows/' ~ field.layout ~ '.html' with field only %}
                    </td>
                    {% endfor %}
                </tr>
            </table>
        </div>
        {% endfor %}
    </div>
</div>
